<!DOCTYPE html>
<html>
<head>
  <title>Tech Blog</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="/css/style.css">
  <link rel="stylesheet" href="/css/jazz.css">
  <link rel="stylesheet" href="/css/login.css">
</head>
<body>
  <header>
    <nav>

      {{#if logged_in}}
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="/post">Dashboard</a></li>
          <button class="logout-button">Logout</button>
        {{else}}
          <li><a href="/">Home</a></li>
          <li><a href="/post">Dashboard</a></li>
          <li><a href="/login">Login</a></li>
        </ul>
      {{/if}}
    </nav>
				<h1>Tech Blog </h1>
  </header>
  <main>
 {{{body}}}
  </main>
</body>
</html>
