<div class='dashboard'>
	<h1>My Posts</h1>
	{{#each posts}}
		<div
			class='post-bar'
			id='post-{{this.id}}'
			data-href='/user-post/{{this.id}}'
		>
			<h2>{{this.title}}</h2>
			<p>{{format_date this.date_created}}</p>
		</div>
	{{/each}}

	<a href='/post/' class='add-post-button'>+ New Post</a>

</div>

<script src='/js/userPost.js'></script>