{{#each posts}}
	<div class='post'>
		<div class='content'>
			<h2><a href='/post/1'>{{posts.title}}</a></h2>
			<p>{{posts.content}}</p>
		</div>
		<div class='author'>
			<p>Posted by {{posts.user.username}}</p>
		</div>
		<div class='comments'>
			<a href='/post/1#comments'>3 Comments</a>
		</div>
	</div>
{{/each}}