/* Set some basic styles */
body {
	margin: 0;
	font-family: Arial, sans-serif;
	background-color: #ddd;
}

header {
	background-color: #333;
	color: #fff;
	padding: 5px;
}

header h1 a {
	font-size: 2.5rem;
	margin: 1rem 0;
	margin-left: 40px;
	margin-top: -5px;
	background-color: #fff;
	color: #333;
	padding: 30px;
	border-radius: 5px;
	display: inline-block;
	border: 5px solid #fc8f00;
	text-decoration: none;
}

nav {
	display: flex;
	justify-content: flex-start;
	margin-top: 20px;
}

nav ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	display: flex;
	align-items: center;
	margin-left: 10px;
}

nav li {
	margin-right: 20px;
}

nav ul li {
	list-style-type: none !important;
}

nav a {
	color: #fff;
	text-decoration: none;
}

main {
	padding: 20px;
}

.post {
	border: 1px solid #ccc;
	padding: 10px;
	margin-bottom: 20px;
}

.post h2 {
	margin-top: 0;
	margin-left: 20px;
}

.post .content {
	margin-bottom: 10px;
}

.post .author {
	font-style: italic;
	font-size: 14px;
}

.post .comments {
	margin-top: 10px;
}

.exit-button {
	background-color: #333;
	color: #fff;
	border: none;
	font-size: 17px;
	cursor: pointer;
}
