.row {
	display: flex;
	justify-content: center;
	align-items: center;
}

.col-md-6 {
	width: 50%;
	padding: 20px;
	box-sizing: border-box;
}

.login-form,
.signup-form {
	background-color: #f1f1f1;
	padding: 20px;
	border: 1px solid #ccc;
	border-radius: 5px;
}

h2 {
	font-size: 2.5rem;
	margin-top: 0;
	margin-bottom: 20px;
}

.form-group {
	margin-bottom: 20px;
}

label {
	display: block;
	margin-bottom: 5px;
	font-weight: bold;
}

.form-control {
	display: block;
	width: 100%;
	padding: 10px;
	font-size: 1.2rem;
	border: 1px solid #ccc;
	border-radius: 5px;
	box-sizing: border-box;
}

.btn {
	display: inline-block;
	background-color: #fc8f00;
	color: #fff;
	padding: 10px 20px;
	font-size: 1.2rem;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	transition: background-color 0.3s ease;
}

.btn:hover {
	background-color: #fda03d;
}

@media screen and (max-width: 768px) {
	.col-md-6 {
		width: 100%;
	}
}
